page-proposal{

    .title-item{
        font-size: 1.8rem;
        color: #354b9c;
        text-align: justify;
        margin: 0;
    }

    .description{
        color: #c2c2c2;
        text-align: justify;
        font-size: 1.4rem;
        padding: 0;
        margin: 2% 0% 2% 0%;
    }
    .info{
        padding: 0% 5% 0px 5%;
    }

    .row{
        height: unset;
    }
}