page-proposal{

    .title-item{
        font-size: 1.8rem;
        color: #354b9c;
        text-align: justify;
        margin: 0;
    }

    .description{
        color: #717171;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0;
        margin: 2% 5% 2% 0%;
    }
    .info{
        padding: 0% 5% 0px 5%;
    }

    .row{
        height: unset;
    }
    
    .mt-item{
        text-align: justify;
        font-size: 1.4rem;
        margin: 0;
    }
    .bd-text{
        font-size: 1.3rem ;
    }

   
    .info{
        margin: 5% 0% 0% 0%;
    }
}