@import url('https://fonts.googleapis.com/css?family=Poppins');

ion-app{
    font-family: 'Poppins', sans-serif !important;

}

.button-group {
    padding: 2%;
}

.button-group > *{
    background-color: #ed3237;
    border-radius: 50px;
    width: 90%;
    padding: 5%;
    margin: 7% auto;
    display: block;
    border-bottom: 2px solid #c52228;
    color: white;
    box-shadow: 0px 2px 4px #a7a7a7
    
}
.text-center{
    text-align: center;
}

.text-red{
    color: #ed3237;
}
.text-blue{
    color: #354b9c;
}   

.form-group > ion-input{
    background-color: #eaeaea;
    border-radius: 25px;
    border: solid 1px #354b9c;
    width: 85%;
    margin: 5% auto;
    display: block;
    padding-left: 3%;
    font-size: 1.2rem;
}
.btn-view{
    margin: 5% 0% 10% 5%;
    display: block;
    color: white;
    padding: 2% 8% 2% 8%;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #a5a5a5;
}

.grid, 
.row{
    height: 100%;
}
.row{
    align-items: center;
}
ion-footer{
    border-bottom: 10px solid #354b9c;
}

.md-tx{
    font-size: 1.8rem
}

.sm-tx{
    font-size: 1.5rem
}
.link{
    text-decoration: underline;
}
.titles{
    padding: 0;
    color : white;

}
.toolbar-title{
    width: 60%;
    margin: 0 auto;
}
.button-md{
    height: 2.5rem;
    padding : 0 15%;
}

.item-blue{
    background-color: #354b9c
}
.item-red{
    background-color: #ed3237;
}
.toolbar-background-md{
    background: #354b9c;
    border-bottom: 5px solid #2d428c
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
}

.add-icon{
    font-size: 4.5rem;
    text-shadow: 0px 2px #243779;
    padding: 5%;
    color: #354b9c;
}
ion-textarea{
    width: 85%;
    background-color: #eaeaea;
    border: solid 1px #354b9c;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0% 5% 5% 0%;
}
.platform-mobile textarea.text-input{
    height: 10rem;
}