
tela-de-recuperacao  {

    .telaFundo {
        left: 0;
        top: 0;
        position: absolute;
    }
    .centralizado{
        width: 50%;
        position: relative;
        margin: auto;
        display: block;
    }
    .inputs{
        background-color: #0000ff7d;
        width: 50%;
        color: white;
        margin: auto;
        margin-top: 5%;
        width: 70%;
        height: 80%;
        border-radius: 50px;
  
    }
    .botao{
        margin: auto;
        margin-bottom: 2%;
        width: auto;
    }
    .button-md{
        margin-top: 2%;
        width: auto;
        background-color: #0000ff7d;
        display: block;
    }
    .rebaixado{
        margin-top: 50%;
        display: block;
    }
  }