<ion-header>
  <ion-navbar>
    <ion-title>
      <p class="titles md-tx">Propostas</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content center text-center *ngIf="DOM">
  <ion-grid>
    <ion-row>
      <div class="box-message">
        <ion-col col-12 center>
          <div class="info">
            <p class="mt-item text-red text-center">Proposta de : {{currentProposal.author}}</p>
            <br>
            <p class="title-item text-blue sm-tx">{{currentProposal.title}}</p>
            <p class="description bd-text message">{{currentProposal.description}}</p>
            <p class="sm-tx metadata">{{currentProposal.date}}</p>
          </div>
          <hr>
        </ion-col>

        <div class="content-message" *ngFor="let message of messages">

          <div class="info">
            <p class="title-item text-blue">{{message.author}}</p>
            <p class="description sm-tx bd-text message">{{message.body}}</p>
            <p class="sm-tx metadata">{{message.date}}</p>
          </div>

          <hr>
        </div>
      </div>
      <ion-col col-12>
        <div class="message-area">
          <ion-textarea maxlength="200" type="text" placeholder="Menssagem" onfocus="this.value=''" onblur="this.value=''" [(ngModel)]="message.body"
            name="description"></ion-textarea>
          <button (click)="sendMessage()" class="item-blue btn-view">Enviar</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
</ion-footer>