<ion-header>
  <ion-navbar>
    <ion-title>
      <p class="titles md-tx">Propostas</p>
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content *ngIf="DOM">
    <div class="message-wrap">
      
         <!-- [class.left]=" msg.author === currentMessage.author "
           [class.right]=" msg.author !== currentMessage.author" -->


      <div *ngFor="let msg of messages" class="message"
      [class.right]=" msg.author === message.author"
      [class.left]="msg.author != message.author"
      >
        <img *ngIf="msg.author === message.author"
        class="user-img" src="../../../assets/imgs/avatar1.png" alt="" >
        <img *ngIf="msg.author != message.author"
        class="user-img" src="../../../assets/imgs/avatar2.png" alt="" >
        <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
        <div class="msg-detail">
          <div class="msg-info">
            <p>
              {{msg.author}}&nbsp;&nbsp;&nbsp;{{msg.date}}</p>
          </div>
          <div class="msg-content">
            <span class="triangle"></span>
            <p class="line-breaker ">{{msg.body}}</p>
          </div>
        </div>
      </div>
  
    </div>
  </ion-content>
  
  <ion-footer>  
    <div class="input-wrap">
        <button ion-button clear icon-only item-right (click)="refresh()">
            <ion-icon name="md-refresh"></ion-icon>
          </button>
      <textarea #chat_input
                placeholder="Mensagem"
                [(ngModel)]="message.body"
                (keyup.enter)="sendMessage()"
                (focusin)="onFocus()">
      </textarea>
      <button ion-button clear icon-only item-right (click)="sendMessage()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
</ion-footer>
