page-signup {

    ion-app.md [padding] .scroll-content {
        padding: 16px;
        background-color: royalblue;
    }
    .telaFundo{
        position: absolute;
    }
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        background-color: #0000003d;
    }
    .centralizado{
        width: 50%;
        display: block;
        margin-top: 20%;
        margin: auto;
        position: relative;
    }
    .inputs{
        background-color: #0000ff7d;
        width: 50%;
        margin: auto;
        color: white;
        margin-top: 5%;
        width: 70%;
        height: 80%;
        border-radius: 50px;
    }
    .botao{
        margin: auto;
        margin-bottom: 2%;
        width: auto;
    }
    .button-md{
        margin-top: 2%;
        width: auto;
        display: block;
        background-color: #0000ff7d;
        border-radius: 50px;
    }
    .opcoes{
        text-align: center;
        color: #0000ff7d;
    }
    .senha{
        margin-bottom: -10%;
    }
    .rebaixado{
        margin-top: 20%;
    }

}
