page-portfolio {
    .img{
        // padding-top: 20px;
        margin: 0 auto;
        display: block;
        width: 80%;
    }
    
    .title-item{
        font-size: 1.8rem;
        color: #354b9c;
        text-align: justify;
        margin: 0;
    }

    .description{
        color: #c2c2c2;
        text-align: justify;
        font-size: 1.4rem;
        padding: 0;
        margin: 2% 0% 2% 0%;
    }
    .info{
        padding: 0% 5% 0px 5%;
    }
    .options{
        width: 55% !important;
        padding: 2% !important;
    }


    .grid{
        height: unset;
    }
    img{
        max-width: 90%
    }
    hr{
        width: 90%;
        margin: 8% auto;
    }
}


