
<ion-header>
    <ion-navbar>
      <ion-title>
        <p class="titles md-tx">Serviços</p>
      </ion-title>
    </ion-navbar>
  </ion-header>
 
<ion-content center text-center>
      <ion-icon *ngIf="this.auth.currentUser.type" class="add-icon" 
      (click)="create()"
      ios="ios-add-circle" 
      md="md-add-circle"></ion-icon>
    <ion-grid>
      <ion-row>
          <ion-col col-12 *ngFor="let item of portfolio">
      
                <img id="imagens" [src]="item.imageUrl">
                <div class="info">
                    <p class="title-item">{{item.title}}</p>
                    <p class="description">{{item.description}}</p>
                </div>  
                
                  <div *ngIf="this.auth.currentUser.type" class="options">
                        <button class="item-red" ion-button icon-end>
                            <ion-icon name="ios-trash-outline"></ion-icon>
                          </button>
                          <button class="item-blue" ion-button icon-end>
                            <ion-icon name="ios-create-outline"></ion-icon>
                          </button>
                  </div>
                  <hr>
              </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

    <ion-footer>
      </ion-footer>
